/* --- blinking round --- */
@-webkit-keyframes easyBlinkingRound {
  0% {
    border-width: 2px;
    border-style: solid;
    background-color: transparent;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    width: 100%;
    height: 100%;

    opacity: 1;
  }

  50% {
    -webkit-box-shadow: 0px 0px 10px 2px $sub-bg-color;
    -moz-box-shadow: 0px 0px 10px 2px $sub-bg-color;
    box-shadow: 0px 0px 10px 2px $sub-bg-color;
  }

  90% {
    -webkit-box-shadow: 0px 0px 0px 0px $sub-bg-color;
    -moz-box-shadow: 0px 0px 0px 0px $sub-bg-color;
    box-shadow: 0px 0px 0px 0px $sub-bg-color;
  }

  100% {
    border-width: 1px;

    width: 200%;
    height: 200%;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    opacity: 0;
  }
}

@keyframes easyBlinkingRound {
  0% {
    border-width: 2px;
    border-style: solid;
    background-color: transparent;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    width: 100%;
    height: 100%;

    opacity: 1;
  }

  50% {
    -webkit-box-shadow: 0px 0px 10px 2px $sub-bg-color;
    -moz-box-shadow: 0px 0px 10px 2px $sub-bg-color;
    box-shadow: 0px 0px 10px 2px $sub-bg-color;
  }

  90% {
    -webkit-box-shadow: 0px 0px 0px 0px $sub-bg-color;
    -moz-box-shadow: 0px 0px 0px 0px $sub-bg-color;
    box-shadow: 0px 0px 0px 0px $sub-bg-color;
  }

  100% {
    border-width: 1px;

    width: 200%;
    height: 200%;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    opacity: 0;
  }
}

/* --- move to top right corner --- */
@keyframes slideToTRCorner {
  from {
    left: calc(var(left));
    top: calc(var(top));

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  to {
    top: 0;
    left: 100%;

    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}

@-webkit-keyframes slideToTRCorner {
  from {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  to {
    top: 0;
    left: 100%;

    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}

/* --- move to origin position --- */
@keyframes slideBack {
  from {
    top: 0;
    left: 100%;

    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }

  to {
    left: calc(var(left));
    top: calc(var(top));

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes slideBack {
  from {
    top: 0;
    left: 100%;

    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }

  to {
    left: calc(var(left));
    top: calc(var(top));

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

/* --- fade in --- */
@keyframes fadeIn {
  from {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

/* --- fade out --- */
@keyframes fadeOut {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: visible;
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: visible;
    opacity: 0;
  }
}

/* --- draw quadrant figure --- */
@keyframes drawDivideFigure {
  $halfModalLen: calc(var(--svg-width) + var(--svg-height));
  $modalLen: calc(2 * #{$halfModalLen});

  from {
    visibility: visible;
    stroke-dasharray: 0, $modalLen;
    stroke-dashoffset: -180%;
  }
  to {
    visibility: visible;
    stroke-dasharray: $modalLen;
  }
}

@-webkit-keyframes drawDivideFigure {
  $halfModalLen: calc(var(--svg-width) + var(--svg-height));
  $modalLen: calc(2 * #{$halfModalLen});

  from {
    visibility: visible;
    stroke-dasharray: 0, $modalLen;
    stroke-dashoffset: -180%;
  }
  to {
    visibility: visible;
    stroke-dasharray: $modalLen;
  }
}

/* --- sliding right --- */
@keyframes slide-right {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slide-right {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* --- sliding left --- */
@keyframes slide-left {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slide-left {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* --- sliding up --- */
@keyframes slide-up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slide-up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* --- sliding down --- */
@keyframes slide-down {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slide-down {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


/* --- zooming in --- */
@-webkit-keyframes zoomIn {
  from {
    visibility: visible;
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    visibility: visible;
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}


/* --- zooming out --- */
@-webkit-keyframes zoomOut {
  from {
    visibility: visible;
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

@keyframes zoomOut {
  from {
    visibility: visible;
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}


/* --- fade screwing --- */
@-webkit-keyframes screwing {
  from {
    visibility: visible;
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: rotate(720deg);
  }
}

@keyframes screwing {
  from {
    visibility: visible;
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: rotate(720deg);
  }
}