/* --- menu select button --- */
.main-menu-button {
  position: absolute;

  width: 50px;
  height: 50px;

  opacity: 0.9;

  transform: translate(-50%, -50%);
  font-size: 24px;
  background-color: $main-bg-color;
  cursor: pointer;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  border: none;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-color: $main-color;

    -webkit-animation: easyBlinkingRound 3s infinite;
    animation: easyBlinkingRound 3s infinite;
  }

  &:hover {
    opacity: 1;

    -webkit-box-shadow: 0px 0px 10px 0px $sub-color;
    -moz-box-shadow: 0px 0px 10px 0px $sub-color;
    box-shadow: 0px 0px 10px 0px $sub-color;

    -webkit-transition: -webkit-box-shadow 0.5s;
    -moz-transition: -moz-box-shadow 0.5s;
    -ms-transition: box-shadow 0.5s;
    -o-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;

    & .fi {
      font-size: 28px;
    }
  }

  &.selected {
    z-index: 100;

    &:before {
      -webkit-animation: none;
      animation: none;
    }
  }
}

.big-menu-button {
  width: 80px;
  height: 80px;

  font-size: 30px;

  &:hover {

    & .fi {
      font-size: 36px;
    }
  }
}

.position-start {
  //top: 50%;
  //left: 50%;
}

.position-settings {
  //top: 60%;
  //left: 80%;

  &:before {
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
  }
}