* {
    font-family: 'Roboto';
}

#app {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.full-height {
    height: 100%;
}

.full-bg-size {
    background-size: cover;
}

/** --- colors --- */
.sub-color {
    color: $sub-color;
}